@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

}

html {
  height: 100%;
  width: 100%;
}
#body {
  width: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header{
  width: flex;
  height: 10%;
  background-color: #0B3A65;
  padding-right: 2%;
  padding-left: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#imageContainer{
  position: relative;
}

#welcome_name{
  position: relative;
}

.welcome_name{
  color:white;
}

#bottom{
  display: flex;
  flex-direction: row;
  height: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

#leftContainer{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  height: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

#centerContainer{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: flex;
  align-items: center;
}

#rightContainer{
  padding-top: 10%;
  width: 25%;
  height: flex;
  justify-content: center;
  align-items: center;
}

.background-container{
  background-image: url("/RoadBackground.jpg");
  background-size: cover;
  color:#0B3A65;
}

.options {
  border: 0;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #4A8AC6;
  text-align: center;
  font-weight: 500;
  color: #fff;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.25));
}

.options:hover{
  background-color: #669bcc;
}

.options:active{
  background-color: #255f95;
}

.input{
  /* background-color: blue; */
  border-color: #285074;
  border-width: 1px;
  margin-right: 20px;
  border-radius: 10px;
  height: 45px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}

#submit{
  background-color: #4A8AC6;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  color: white
}

#mapcontainer{
  width: 80%;
  height: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: lightgreen;
}

h1{
  font-weight: bold;
  font-size: 20px;
}
p{
  font-size: 16px;
}

.place{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.destinations{
  position: relative;
  height: fit-content;
  width: fit-content;
}